@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
  background-color: #a50073;
}

.App {
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
}
